.Heatmap-Container {
    width: fit-content;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Heatmap-Month-Label {
    height: fit-content;
    font-size: 0.9em;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Heatmap-Body {
    display: flex;
    gap: 5px;
}

.Heatmap-Day-Label {
    width: fit-content;
    height: fit-content;
    font-size: 0.7em;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    gap: 4px;

    & div {
        display: flex;
        align-items: center;
        height: 12px;
    }
}

.Heatmap-Cell-Container {
    height: fit-content;
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 2px;
}

.Heatmap-Column {
    box-sizing: border-box;
    width: 14px;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.Heatmap-Cell {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Heatmap-Cell:hover {
    transform: scale(1.3);
}

.Heatmap-Cell.Today {
    box-shadow: 0 0 0 1px black, 0 0 0 2px white;
}

.Heatmap-Cell-Tool-Tip {
    display: none;
    position: absolute;
    padding: 0.2em;
    font-size: 1rem;
    font-weight: 500;
    height: 1.5rem;
    color: #ffffff;
    background-color: black;
    border: 1px #888888 solid;
    border-radius: 1px;
    align-items: center;
}
