body {
    background-color: #0f0f0f;
    color: white;
}

.Timer-Container {
    font-size: clamp(8px, 2vw, 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    gap: 0.5em;
    width: fit-content;
    transition: none;
    max-width: 50vw;
}

.Timer-Container.is-Animating {
    transition: all 0.8s allow-discrete;
}

.Timer {
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Timer-Toggle-Button {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Timer-Stop-Button {
    display: none;
    padding: 0.5em;
    align-items: flex-start;
    justify-content: center;

    @starting-style {
        margin-left: 1rem;
    }
}

.Timer-Stop-Button.is-Animating {
    transition: all 0.8s allow-discrete;
}

.ButtonSVG {
    height: 2.1em;
    width: 2.1em;
}

.Session-Info-Dialog {
    background-color: #1a1a1a;
    color: white;
    padding: 1em;
    width: min(40vw, 350px);
    height: 90%;
    border: solid;
    border-width: min(0.3em, 3px);
    border-radius: min(0.6em, 8px);
    border-color: #333333;
}

@media (max-width: 700px) {
    .Session-Info-Dialog {
        width: 90%;
        margin: 5% auto;
    }
}

.Session-Info-Dialog-Inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

.Dialog-Header-Container {
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3rem;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #333333;
}

.Dialog-Header {
    font-weight: 700;
}

.Session-Info-Inputs-Container {
    margin-top: 14px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.Session-Info-Group {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 100%;

    & label {
        display: block;
        margin-bottom: 0.3rem;
    }
}

div.Session-Info-Group:has(input) {
    flex: 1;
}

div.Session-Info-Group:has(div) {
    flex: 1;
}

div.Session-Info-Group:has(textarea) {
    flex: 2;

}

.Session-Info-Input {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding: 0.5rem;
    border: solid 1px #666666;
    border-radius: 0.25rem;
    background-color: #333333;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}

#sessionTagsList {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2em;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}

.Session-Tag-Card {
    width: fit-content;
    display: flex;
    box-sizing: border-box;
    padding: 0 0.4em;
    align-items: center;
    justify-content: center;
    border: solid 1px #666666;
    border-radius: 0.25rem;
    background-color: #333333;
    color: white;
    cursor: pointer;
}

.Session-Tag-Card.Selected {
    background-color: white;
    color: #333333;
}

#sessionDate {
    color: transparent;
    text-shadow: 0 0 0 white;
}

textarea.Session-Info-Input {
    height: 70%;
    resize: vertical;
    margin: 0;
}

.Session-Info-Dialog-Close-Button:focus,
.Session-Info-Dialog:focus,
.Session-Info-Group:focus,
.Session-Info-Input:focus {
    outline: none;
}

.Session-Info-Dialog-Close-Button {
    display: flex;
    background-color: #1a1a1a;
    color: #cccccc;
    border: 0;
    font-size: 0.8em;
    font-weight: 500;
    cursor: pointer;
}

.Session-Info-Save-Button {
    flex: 0.4;
    width: 100%;
    background-color: #666666;
    color: white;
    cursor: pointer;
    border-radius: 0.25rem;
}
