body {
    background-color: black;
    color: white;
}

.Timer-Container {
    font-size: clamp(8px, 2vw, 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    gap: 0.5em;
    width: fit-content;
    max-width: 50vw;
}

.Timer {
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Timer-Toggle-Button,
.Timer-Stop-Button {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Timer-Stop-Button {
    display: none;
}

.ButtonSVG {
    height: 2.1em;
    width: 2.1em;
}
